<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer>
    <div class="footer-top">
        <div class="footer-logo">
            <img class="icon-footer" th:src="@{/images/Vector-White.png}" alt="Logo">
            <img class="compartilha-footer" th:src="@{/images/COMPARTILHA-WHITE.png}" alt="Logo">
        </div>
        <div class="footer-social">
            <a href="https://facebook.com" target="_blank" style="color: #C1B787;" class="fs-3">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://instagram.com" target="_blank" style="color: #C1B787;" class="fs-3">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://twitter.com" target="_blank" style="color: #C1B787;" class="fs-3">
                <i class="bi bi-twitter-x"></i>
            </a>
        </div>
    </div>
    <div class="footer-links">
        <div class="footer-links-left">
            <a href="/about_us">Sobre nós</a>
            <a href="/faq">FAQS</a>
        </div>

        <div class="footer-links-right">
            <a href="terms.html">Termos de uso</a>
            <a href="/privacy">Política de privacidade</a>
        </div>
    </div>
    <div class="copy">
        <p>© Compartilha+</p>
    </div>
</footer>
</body>
</html>